
<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
  <div class="feed-message" ng-repeat="pairs in pairs">
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ ::pair.dish.dispname }}</span>
      </div>
      <div class="message-content">
        <span ng-if="message.preview">{{message.header}} </span>{{::pair.dish.status}}
      </div>
      <div class="preview" ng-show="false" ng-if="false">
        <a href="{{::message.link}}" target="_blank">
          <img ng-src="{{ ::( message.preview | appImage )}}">
        </a>
      </div>
      <div ng-show="true" class="message-time">
        <div class="ago-time">
          Score: {{ ::pair.score}}
        </div>
      </div>
    </div>
  </div>
</div>
