
<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
  <div class="feed-message" ng-repeat="message in feed" ng-click="expandMessage(message)">
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ ::message.dish.dispname }}</span>
      </div>
      <div class="message-content">
        <span ng-if="message.preview">{{message.header}} </span>{{::message.text}}
      </div>
      <div class="preview" ng-show="false" ng-if="false">
        <a href="{{::message.link}}" target="_blank">
          <img ng-src="{{ ::( message.preview | appImage )}}">
        </a>
      </div>
      <div ng-show="true" class="message-time">
        <div ng-show="false" class="post-time">
          {{::message.time}}
        </div>
        <div class="ago-time">
          {{::message.count}}
        </div>
      </div>
    </div>
  </div>
</div>
